.cart-contaner-right{
    width: 100%;
    padding: 0;
    // margin-right: ;
}
.mini-nav-cart{
    background-color: white;
}
.list-mini-nav-cart{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.mini-nav-cart-item{
    width: 100%;
    display: block;
    cursor: pointer;
    user-select: none;
    padding: 16px 0;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: rgba(0,0,0,.8);
}
.cart-item-active{
    color: red;
    border-bottom: 1px solid red;
}
.mini-nav-cart-item:hover{
    background-color: red;
}